<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Bootstrap Example
        </title>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
                    </script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
                    </script>
                </link>
            </meta>
        </meta>
    </head>
    <body>
        <div class="container">
            <h2>
                Tecnologia
            </h2>
            <p>
                Tecnologia é um termo que envolve o conhecimento técnico e científico e a aplicação deste conhecimento através de sua transformação no uso de ferramentas, processos e materiais criados e utilizados a partir de tal conhecimento. Dependendo do contexto, a tecnologia pode ser:
            </p>
            <img 
    			alt="Cinque Terre" class="img-rounded" height="236" 
    			src="http://www.revistacircuito.com/wp-content/uploads/2018/05/tecnologia.png" width="304">
            </img>
        </div>
    </body>
</html>