<!DOCTYPE html>
<html>
<head>
<title>Teste</title>
<script type="text/javascript" src="/javascripts/jquery-3.2.0.min.js"></script>
<script type="text/javascript">

</script>


</head>
<body>

Error
</body>
</html>