<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<meta content="width=device-width, initial-scale=1" name="viewport"> 
        <!-- JQuery -->
        <script src="components/jquery/dist/jquery.min.js"></script>
        <!-- bootstrap - link cdn -->
        <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="components/izitoast/dist/css/iziToast.min.css">
        <!-- incluindo css -->
        <link href="css/cursonode.css" rel="stylesheet">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.ico"/>

	</head>

	<body class="body-index">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<form class="form-inline form-entrar">
					<div class="form-group">				
						<input type="text" name="usuario" id="usuario" placeholder="Usuário" class="form-control" autocomplete="off" />
						<input type="password" name="senha" id="senha" placeholder="Senha" class="form-control" />
						<button type="button" class="btn btn-success">Entrar</button>
						<button type="button" class="btn btn-info">Cadastro</button>
					</div>
				</form>
			</div>
			
		</nav>

	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-2"></div>

	    		<div class="col-md-8">
					<img src="images/game_of_thrones_logo.jpg" />
				</div>

	    		<div class="col-md-2"></div>
		    	</div>
	    	</div>
	    </div>	
		
	</body>

	<!-- scsripts -->
    <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="components/izitoast/dist/js/iziToast.min.js" ></script>

    <script type="text/javascript" src="js/chat.j" ></script>
</html>